<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>S.M.Azwad-Ul-Alam</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Personal website of S.M.Azwad-Ul-Alam">
    <meta name="keywords" content="Your keywords here">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <!-- Google tag (gtag.js) -->

  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">S.M.Azwad-Ul-Alam</a></h1>
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>Contact: <a href="mailto:smazwadulalam@gmail.com">smazwadulalam [at] gmail.com</a><br>
          GitHub: <a href="https://github.com/Fahim-Azwad">Fahim-Azwad</a><br>
          Instagram: <a href="https://www.instagram.com/fahimazwad/">fahimazwad</a><br>
          <!<a href="">CV</a>, <a href="">transcript</a>
        </p>

      </header>
    </div>
  </body>
  <footer>
    <p><small>© 2024 S.M.Azwad-Ul-Alam</small></p>
</footer>
</html>